In [1]:
import pandas as pd
import numpy as np

In [2]:
patients=pd.read_csv('IndividualDetails.csv')

In [3]:
patients.head()

,id,government_id,diagnosed_date,age,gender,detected_city,detected_district,detected_state,nationality,current_status,status_change_date,notes
0,0,KL-TS-P1,30/01/2020,20,F,Thrissur,Thrissur,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
1,1,KL-AL-P1,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
2,2,KL-KS-P1,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
3,3,DL-P1,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,India,Recovered,15/03/2020,"Travelled from Austria, Italy"
4,4,TS-P1,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,India,Recovered,02/03/2020,"Travelled from Dubai to Bangalore on 20th Feb,..."

In [4]:
patients['current_status'].value_counts()

current_status
Hospitalized    8301
Recovered        139
Deceased          30
Migrated           1
Name: count, dtype: int64

In [5]:
total=patients.shape[0]
active=patients[patients['current_status']=='Hospitalized']
recovered=patients[patients['current_status']=='Recovered']
death=patients[patients['current_status']=='Deceased']

In [6]:
total

8472

In [7]:
active

,id,government_id,diagnosed_date,age,gender,detected_city,detected_district,detected_state,nationality,current_status,status_change_date,notes
18,18,NaN,04/03/2020,55,NaN,Gurugram,Italians*,Haryana,Italy,Hospitalized,04/03/2020,Travelled from Italy
19,19,NaN,04/03/2020,55,NaN,Gurugram,Italians*,Haryana,Italy,Hospitalized,04/03/2020,Travelled from Italy
21,21,NaN,04/03/2020,NaN,M,Agra,Agra,Uttar Pradesh,India,Hospitalized,04/03/2020,Family members of P4
26,26,NaN,04/03/2020,NaN,NaN,Agra,Agra,Uttar Pradesh,India,Hospitalized,04/03/2020,Family members of P4
27,27,NaN,04/03/2020,NaN,NaN,NaN,Agra,Uttar Pradesh,India,Hospitalized,04/03/2020,"Accompanied the Italian tourists, Nationality:..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8467,8468,NaN,12/04/2020,NaN,NaN,NaN,NaN,West Bengal,NaN,Hospitalized,12/04/2020,NaN
8468,8469,NaN,12/04/2020,NaN,NaN,NaN,NaN,West Bengal,NaN,Hospitalized,12/04/2020,NaN
8469,8470,NaN,12/04/2020,NaN,NaN,NaN,NaN,West Bengal,NaN,Hospitalized,12/04/2020,NaN
8470,8471,NaN,12/04/2020,NaN,NaN,NaN,NaN,West Bengal,NaN,Hospitalized,12/04/2020,NaN
8471,8472,NaN,12/04/2020,NaN,NaN,NaN,NaN,West Bengal,NaN,Hospitalized,12/04/2020,NaN

In [8]:
recovered

,id,government_id,diagnosed_date,age,gender,detected_city,detected_district,detected_state,nationality,current_status,status_change_date,notes
0,0,KL-TS-P1,30/01/2020,20,F,Thrissur,Thrissur,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
1,1,KL-AL-P1,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
2,2,KL-KS-P1,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
3,3,DL-P1,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,India,Recovered,15/03/2020,"Travelled from Austria, Italy"
4,4,TS-P1,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,India,Recovered,02/03/2020,"Travelled from Dubai to Bangalore on 20th Feb,..."
...,...,...,...,...,...,...,...,...,...,...,...,...
1078,1078,TN-P46,29/03/2020,51,F,NaN,Erode,Tamil Nadu,India,Recovered,06/04/2020,Contact of TN-P43
1248,1248,NaN,30/03/2020,NaN,NaN,NaN,Kannur,Kerala,NaN,Recovered,04/04/2020,Details awaited
1249,1249,NaN,30/03/2020,NaN,NaN,NaN,Kannur,Kerala,NaN,Recovered,05/04/2020,Details awaited
1250,1250,NaN,30/03/2020,NaN,NaN,NaN,Kannur,Kerala,NaN,Recovered,05/04/2020,Details awaited
1260,1260,NaN,30/03/2020,NaN,NaN,NaN,Wayanad,Kerala,NaN,Recovered,08/04/2020,Details awaited

In [9]:
death

,id,government_id,diagnosed_date,age,gender,detected_city,detected_district,detected_state,nationality,current_status,status_change_date,notes
71,71,DL-P6,12/03/2020,69,F,Janakpuri,South West Delhi,Delhi,India,Deceased,12/03/2020,Mother of P64
73,73,KA-P6,13/03/2020,76,M,Kalaburagi,Kalaburagi,Karnataka,India,Deceased,13/03/2020,"Travelled from Saudi on Feb 29, First death in..."
76,76,NaN,12/03/2020,65,M,Mumbai,Mumbai,Maharashtra,India,Deceased,12/03/2020,"Travelled from Dubai on March 8, Third death i..."
181,181,PJ-P2,19/03/2020,70,M,Banga,Shahid Bhagat Singh Nagar,Punjab,India,Deceased,19/03/2020,Travelled from Germany via Italy
269,269,NaN,21/03/2020,63,M,Mumbai,Mumbai,Maharashtra,India,Deceased,22/03/2020,"Travelled from UK, had a chronic history of di..."
293,293,NaN,21/03/2020,67,M,Surat,Surat,Gujarat,India,Deceased,22/03/2020,Travelled to Delhi & Jaipur
326,326,WB-P4,21/03/2020,57,M,Dum Dum,Kolkata,West Bengal,India,Deceased,23/03/2020,"No international travel history, has travelled..."
347,347,NaN,22/03/2020,38,M,Munger,Munger,Bihar,India,Deceased,22/03/2020,"Travelled from Qatar, Kolkata. He was from Mun..."
379,379,NaN,22/03/2020,69,M,,Ernakulam,Kerala,India,Deceased,28/03/2020,Travelled from Dubai
429,429,NaN,23/03/2020,85,F,Ahmedabad,Ahmadabad,Gujarat,India,Deceased,25/03/2020,Travelled from Saudi Arabia. She was suffering...
486,486,NaN,23/03/2020,69,M,Kangra,Kangra,Himachal Pradesh,Tibet,Deceased,23/03/2020,"Tibetan refugee,died at a hospital in Tanda. T..."
501,501,TN-P12,23/03/2020,54,M,Madurai,Madurai,Tamil Nadu,India,Deceased,25/03/2020,Annanagar at Rajaji Hosp. No mention of travel...
530,530,NaN,24/03/2020,65,M,NaN,Bandipore,Jammu and Kashmir,India,Deceased,24/03/2020,Travel History (attended delhi event)
576,576,NaN,25/03/2020,65,F,Ujjain,Ujjain,Madhya Pradesh,NaN,Deceased,25/03/2020,Details awaited
689,689,KA-P53,26/03/2020,70,F,NaN,Bengaluru,Karnataka,India,Deceased,26/03/2020,"Travelled from Mecca, Saudi Arabia, details aw..."
725,725,NaN,26/03/2020,NaN,NaN,NaN,Bhilwara,Rajasthan,NaN,Deceased,27/03/2020,Details Awaited
746,746,NaN,27/03/2020,35,M,NaN,Indore,Madhya Pradesh,NaN,Deceased,27/03/2020,Details awaited
757,757,KA-P60,27/03/2020,60,M,Tumkur,Tumakuru,Karnataka,India,Deceased,27/03/2020,History of travel to Delhi
945,945,NaN,28/03/2020,74,M,NaN,NaN,Telangana,India,Deceased,28/03/2020,"Travel history to Delhi, developed pneumonia w..."
1011,1011,NaN,28/03/2020,44,F,NaN,Kalimpong,West Bengal,NaN,Deceased,28/03/2020,Travelled from Thailand
1073,1073,KL-TV-R10,29/03/2020,68,M,NaN,Thiruvananthapuram,Kerala,NaN,Deceased,31/03/2020,Details awaited
1165,1165,NaN,30/03/2020,45,F,NaN,Bhavnagar,Gujarat,NaN,Deceased,30/03/2020,Local Transmission
1384,1384,NaN,31/03/2020,48,F,NaN,Howrah,West Bengal,NaN,Deceased,31/03/2020,Woman in 40s
2586,2586,KA-P125,03/04/2020,75,M,NaN,Bagalkote,Karnataka,India,Deceased,04/04/2020,NaN
3488,3488,NaN,04/04/2020,75,F,Sujjanpur,Pathankot,Punjab,India,Deceased,05/04/2020,NaN
4145,4145,NaN,05/04/2020,NaN,NaN,NaN,Varanasi,Uttar Pradesh,NaN,Deceased,05/04/2020,Details Awaited
4243,4243,NaN,05/04/2020,1,M,NaN,Jamnagar,Gujarat,NaN,Deceased,05/04/2020,Local Transmission
4860,4860,KA-P166,07/04/2020,80,F,NaN,Gadag,Karnataka,India,Deceased,07/04/2020,History of SARI
4905,4905,NaN,07/04/2020,72,M,Jharpada,Khordha,Odisha,India,Deceased,07/04/2020,Had been admitted to AIIMS Bhubaneswar on 4th ...
5383,5384,KA-P177,08/04/2020,65,M,NaN,Kalaburagi,Karnataka,India,Deceased,08/04/2020,SARI

In [12]:
patients['detected_district'].value_counts().reset_index().reset_index()

     index  detected_district  count
0        0             Mumbai   1146
1        1             Jaipur    301
2        2             Indore    281
3        3               Pune    257
4        4          Ahmadabad    243
..     ...                ...    ...
348    348              Dahod      1
349    349          Dhenkanal      1
350    350            Tenkasi      1
351    351  Sri Muktsar Sahib      1
352    352         Vijayapura      1

[353 rows x 3 columns]

In [22]:
options=[status for status in patients['current_status'].unique() if pd.notna(status)]
options

['Recovered', 'Hospitalized', 'Deceased', 'Migrated']